Loading SQL (Structured Query Language) extension for Jupyter

In [1]:
%load_ext sql

Connecting to the database

In [3]:
%sql mysql+pymysql://root:database_password@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

## To find out communities who needs improved water source and creating a solution plan for each locations

The aim of this survey is to find out the specific provinces or/and towns where interventions are needed in improving the type of water source the people get safe water from.

To acheive this aim, i need province_name and town_name from the location table. I also need to know type_of_water_source and
number_of_people_served from the water_source table.

The problem is that the location table uses location_id while water_source only has source_id. So i won't be able to join these tables directly. However, the visits table maps location_id and source_id. So i decided to use visits as the table to query from and join location where the location_id matches, and water_source where the source_id matches.

In [3]:
%%sql

# Joining location and visits table
SELECT
    location.province_name, location.town_name, visits.visit_count, location.location_id
FROM
    location 
JOIN
    visits
ON
    visits.location_id = location.location_id

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

60146 rows affected.

+---------------+-----------+-------------+-------------+
| province_name | town_name | visit_count | location_id |
+---------------+-----------+-------------+-------------+
|     Akatsi    |   Harare  |      1      |  AkHa00000  |
|     Akatsi    |   Harare  |      1      |  AkHa00001  |
|     Akatsi    |   Harare  |      1      |  AkHa00002  |
|     Akatsi    |   Harare  |      1      |  AkHa00003  |
|     Akatsi    |   Harare  |      1      |  AkHa00004  |
|     Akatsi    |   Harare  |      1      |  AkHa00005  |
|     Akatsi    |   Harare  |      1      |  AkHa00006  |
|     Akatsi    |   Harare  |      1      |  AkHa00007  |
|     Akatsi    |   Harare  |      1      |  AkHa00008  |
|     Akatsi    |   Harare  |      1      |  AkHa00009  |
+---------------+-----------+-------------+-------------+
Truncated to displaylimit of 10.

In [6]:
%%sql

#joining water source table on the key shared between water_source and visits, which is source_id

SELECT
    location.province_name, location.town_name, visits.visit_count, location.location_id,
    water_source.type_of_water_source, water_source.number_of_people_served
FROM
    location 
JOIN
    visits
ON
    visits.location_id = location.location_id
JOIN
    water_source
ON
    water_source.source_id = visits.source_id

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

60146 rows affected.

+---------------+-----------+-------------+-------------+----------------------+-------------------------+
| province_name | town_name | visit_count | location_id | type_of_water_source | number_of_people_served |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+
|     Akatsi    |   Harare  |      1      |  AkHa00000  |     tap_in_home      |           956           |
|     Akatsi    |   Harare  |      1      |  AkHa00001  |  tap_in_home_broken  |           930           |
|     Akatsi    |   Harare  |      1      |  AkHa00002  |  tap_in_home_broken  |           486           |
|     Akatsi    |   Harare  |      1      |  AkHa00003  |         well         |           364           |
|     Akatsi    |   Harare  |      1      |  AkHa00004  |  tap_in_home_broken  |           942           |
|     Akatsi    |   Harare  |      1      |  AkHa00005  |     tap_in_home      |           736           |
|     Akatsi    |   Harare  |      1      |  AkHa00006  |     tap_in_home      |           882           |
|     Akatsi    |   Harare  |      1      |  AkHa00007  |     tap_in_home      |           554           |
|     Akatsi    |   Harare  |      1      |  AkHa00008  |         well         |           398           |
|     Akatsi    |   Harare  |      1      |  AkHa00009  |         well         |           346           |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+
Truncated to displaylimit of 10.

From the previous task, i already know that there are rows where visit_count > 1. These were the sites our surveyors collected additional information for, but they happened at the same source/location. To fix this, i used WHERE visits.visit_count = 1 to select rows and create a filter.

In [3]:
%%sql

SELECT
    location.province_name, location.town_name, visits.visit_count, location.location_id,
    water_source.type_of_water_source, water_source.number_of_people_served
FROM
    location 
JOIN
    visits
ON
    visits.location_id = location.location_id
JOIN
    water_source
ON
    water_source.source_id = visits.source_id
WHERE 
    visits.visit_count = 1

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

39650 rows affected.

+---------------+-----------+-------------+-------------+----------------------+-------------------------+
| province_name | town_name | visit_count | location_id | type_of_water_source | number_of_people_served |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+
|     Sokoto    |   Ilanga  |      1      |  SoIl32582  |        river         |           402           |
|    Kilimani   |   Rural   |      1      |  KiRu28935  |         well         |           252           |
|    Hawassa    |   Rural   |      1      |  HaRu19752  |      shared_tap      |           542           |
|     Akatsi    |   Lusaka  |      1      |  AkLu01628  |         well         |           210           |
|     Akatsi    |   Rural   |      1      |  AkRu03357  |      shared_tap      |           2598          |
|    Kilimani   |   Rural   |      1      |  KiRu29315  |        river         |           862           |
|     Akatsi    |   Rural   |      1      |  AkRu05234  |  tap_in_home_broken  |           496           |
|    Kilimani   |   Rural   |      1      |  KiRu28520  |     tap_in_home      |           562           |
|    Hawassa    |  Zanzibar |      1      |  HaZa21742  |         well         |           308           |
|     Amanzi    |   Dahabu  |      1      |  AmDa12214  |     tap_in_home      |           556           |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+
Truncated to displaylimit of 10.

Since all 3 tables are already joined together, i can now remove the columns that i don't need (like visit_count and location_id) and add columns that are needed for the analysis, which are location_type and time_in_quue

In [4]:
%%sql

SELECT
    location.province_name, location.town_name, visits.time_in_queue, location.location_type,
    water_source.type_of_water_source, water_source.number_of_people_served
FROM
    location 
JOIN
    visits
ON
    visits.location_id = location.location_id
JOIN
    water_source
ON
    water_source.source_id = visits.source_id
WHERE 
    visits.visit_count = 1

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

39650 rows affected.

+---------------+-----------+---------------+---------------+----------------------+-------------------------+
| province_name | town_name | time_in_queue | location_type | type_of_water_source | number_of_people_served |
+---------------+-----------+---------------+---------------+----------------------+-------------------------+
|     Sokoto    |   Ilanga  |       15      |     Urban     |        river         |           402           |
|    Kilimani   |   Rural   |       0       |     Rural     |         well         |           252           |
|    Hawassa    |   Rural   |       62      |     Rural     |      shared_tap      |           542           |
|     Akatsi    |   Lusaka  |       0       |     Urban     |         well         |           210           |
|     Akatsi    |   Rural   |       28      |     Rural     |      shared_tap      |           2598          |
|    Kilimani   |   Rural   |       9       |     Rural     |        river         |           862           |
|     Akatsi    |   Rural   |       0       |     Rural     |  tap_in_home_broken  |           496           |
|    Kilimani   |   Rural   |       0       |     Rural     |     tap_in_home      |           562           |
|    Hawassa    |  Zanzibar |       0       |     Urban     |         well         |           308           |
|     Amanzi    |   Dahabu  |       0       |     Urban     |     tap_in_home      |           556           |
+---------------+-----------+---------------+---------------+----------------------+-------------------------+
Truncated to displaylimit of 10.

Next thing to do is to join well_polltion table to the query. However well pollution table contains only data for only one type of water source which is well. I have to use LEFT JOIN to join the needed columns, which is the results column. Of cource, using left join would amount to having NULL.

In [5]:
%%sql

SELECT water_source.type_of_water_source, location.town_name, location.province_name, location.location_type,
    water_source.number_of_people_served, visits.time_in_queue, well_pollution.results
FROM
    visits
LEFT JOIN
    well_pollution
ON
    well_pollution.source_id = visits.source_id
INNER JOIN
    location
ON
    location.location_id = visits.location_id
INNER JOIN
    water_source
ON
    water_source.source_id = visits.source_id
WHERE
    visits.visit_count = 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

39650 rows affected.

+----------------------+-----------+---------------+---------------+-------------------------+---------------+--------------------------+
| type_of_water_source | town_name | province_name | location_type | number_of_people_served | time_in_queue |         results          |
+----------------------+-----------+---------------+---------------+-------------------------+---------------+--------------------------+
|        river         |   Ilanga  |     Sokoto    |     Urban     |           402           |       15      |           None           |
|         well         |   Rural   |    Kilimani   |     Rural     |           252           |       0       | Contaminated: Biological |
|      shared_tap      |   Rural   |    Hawassa    |     Rural     |           542           |       62      |           None           |
|         well         |   Lusaka  |     Akatsi    |     Urban     |           210           |       0       | Contaminated: Biological |
|      shared_tap      |   Rural   |     Akatsi    |     Rural     |           2598          |       28      |           None           |
|        river         |   Rural   |    Kilimani   |     Rural     |           862           |       9       |           None           |
|  tap_in_home_broken  |   Rural   |     Akatsi    |     Rural     |           496           |       0       |           None           |
|     tap_in_home      |   Rural   |    Kilimani   |     Rural     |           562           |       0       |           None           |
|         well         |  Zanzibar |    Hawassa    |     Urban     |           308           |       0       |  Contaminated: Chemical  |
|     tap_in_home      |   Dahabu  |     Amanzi    |     Urban     |           556           |       0       |           None           |
+----------------------+-----------+---------------+---------------+-------------------------+---------------+--------------------------+
Truncated to displaylimit of 10.

### CREATING A VIEW

The above table contains the data we need for this analysis. So that it would be easier to share, i made a VIEW with the query and called it combined_analysis_table. This view creates a "table" that pulls all of the important information from different tables into one.

In [13]:
%%sql

CREATE VIEW combined_analysis_table
AS
    (SELECT water_source.type_of_water_source, location.town_name, location.province_name, location.location_type,
        water_source.number_of_people_served as people_served, visits.time_in_queue, well_pollution.results
FROM
    visits
LEFT JOIN
    well_pollution
ON
    well_pollution.source_id = visits.source_id
INNER JOIN
    location
ON
    location.location_id = visits.location_id
INNER JOIN
    water_source
ON
    water_source.source_id = visits.source_id
WHERE
    visits.visit_count = 1);
SELECT *
FROM combined_analysis_table;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

39650 rows affected.

+----------------------+-----------+---------------+---------------+---------------+---------------+--------------------------+
| type_of_water_source | town_name | province_name | location_type | people_served | time_in_queue |         results          |
+----------------------+-----------+---------------+---------------+---------------+---------------+--------------------------+
|        river         |   Ilanga  |     Sokoto    |     Urban     |      402      |       15      |           None           |
|         well         |   Rural   |    Kilimani   |     Rural     |      252      |       0       | Contaminated: Biological |
|      shared_tap      |   Rural   |    Hawassa    |     Rural     |      542      |       62      |           None           |
|         well         |   Lusaka  |     Akatsi    |     Urban     |      210      |       0       | Contaminated: Biological |
|      shared_tap      |   Rural   |     Akatsi    |     Rural     |      2598     |       28      |           None           |
|        river         |   Rural   |    Kilimani   |     Rural     |      862      |       9       |           None           |
|  tap_in_home_broken  |   Rural   |     Akatsi    |     Rural     |      496      |       0       |           None           |
|     tap_in_home      |   Rural   |    Kilimani   |     Rural     |      562      |       0       |           None           |
|         well         |  Zanzibar |    Hawassa    |     Urban     |      308      |       0       |  Contaminated: Chemical  |
|     tap_in_home      |   Dahabu  |     Amanzi    |     Urban     |      556      |       0       |           None           |
+----------------------+-----------+---------------+---------------+---------------+---------------+--------------------------+
Truncated to displaylimit of 10.

### Creating a pivot table

If i understand where the problems are, and what i need to improve at those locations, i can make an informed decision on where to send the repair teams. I decided to use CTE to create a pivot table that breaks down the data into provinces or towns and source types.

##### Creating pivot for province

In [15]:
%%sql

# a table of province names and summed up populations for each province.

WITH
    province_totals
AS
    (SELECT province_name, SUM(people_served) AS total_ppl_serv
FROM
     combined_analysis_table
GROUP BY
     province_name)
SELECT *
FROM province_totals

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

5 rows affected.

+---------------+----------------+
| province_name | total_ppl_serv |
+---------------+----------------+
|     Sokoto    |    5774434     |
|    Kilimani   |    6584764     |
|    Hawassa    |    3843810     |
|     Akatsi    |    5993306     |
|     Amanzi    |    5431826     |
+---------------+----------------+

In [18]:
%%sql

# This query selects the province names, and then creates a bunch of columns for each type of water source with CASE statements
# The results are aggregated and percentages are calculated
# Finally i GROUP BY province_name to get the provincial percentages.

WITH province_totals AS (
    SELECT
        province_name,SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name )
SELECT ct.province_name,
    ROUND((SUM(CASE WHEN source_type = 'river'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN source_type = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS well
FROM combined_analysis_table ct
    JOIN province_totals pt
    ON ct.province_name = pt.province_name
GROUP BY ct.province_name
ORDER BY ct.province_name

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

5 rows affected.

+---------------+-------+------------+-------------+--------------------+------+
| province_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-------+------------+-------------+--------------------+------+
|     Akatsi    |   5   |     49     |      14     |         10         |  23  |
|     Amanzi    |   3   |     38     |      28     |         24         |  7   |
|    Hawassa    |   4   |     43     |      15     |         15         |  24  |
|    Kilimani   |   8   |     47     |      13     |         12         |  20  |
|     Sokoto    |   21  |     38     |      16     |         10         |  15  |
+---------------+-------+------------+-------------+--------------------+------+

From this pivot table, it can be concluded that;

1. Sokoto has the largest population of people drinking river water. I should send our drilling equipment to Sokoto first, so people can drink safe filtered water from a well.
2. The majority of water from Amanzi comes from taps, but half of these home taps don't work because the infrastructure is broken.I need to send out engineering teams to look at the infrastructure in Amanzi first. Fixing a large pump, treatment plant or reservoir means that thousands of people will have running water. This means they will also not have to queue for water, so we improve two things at once.

##### Creating pivot for town

Creating a pivot using only town_name is going to be a bit tricky because if you recall from the previous tasks that there are two towns in Maji Ndogo called Harare. One is in Akatsi, and one is in Kilimani. Amina is another example. So if i just aggregate by town, SQL wouldn't distinguish between the different Harare's, it combines their results. 
To get around this, i decided to GROUP BY province first, then by town, so that the duplicated towns are distinct because they are in different towns.

In [19]:
%%sql

WITH town_totals AS (
    SELECT province_name, town_name, SUM(people_served) AS total_ppl_serv
    FROM combined_analysis_tabl
    GROUP BY town_name, province_name)
SELECT *
FROM town_totals;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

31 rows affected.

+---------------+-----------+----------------+
| province_name | town_name | total_ppl_serv |
+---------------+-----------+----------------+
|     Sokoto    |   Ilanga  |     420790     |
|    Kilimani   |   Rural   |    4054284     |
|    Hawassa    |   Rural   |    2859154     |
|     Akatsi    |   Lusaka  |     568068     |
|     Akatsi    |   Rural   |    4602096     |
|    Hawassa    |  Zanzibar |     137956     |
|     Amanzi    |   Dahabu  |     747662     |
|     Sokoto    |   Rural   |    3989718     |
|     Akatsi    |  Kintampo |     403222     |
|     Akatsi    |   Harare  |     419920     |
+---------------+-----------+----------------+
Truncated to displaylimit of 10.

In [21]:
%%sql

# This query selects the town names, and then creates a bunch of columns for each type of water source with CASE statements
# The results are aggregated and percentages are calculated
# Finally i GROUP BY province_name and town_name to get the provincial percentages.

WITH town_totals AS (
    SELECT
        province_name, town_name, SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name, town_name )
SELECT ct.province_name, ct.town_name,
    ROUND((SUM(CASE WHEN source_type = 'river'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN source_type = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table ct
JOIN
    town_totals tt
ON
    ct.province_name = tt.province_name
AND
    ct.town_name = tt.town_name
GROUP BY
    ct.province_name, ct.town_name
ORDER BY
    ct.town_name

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

31 rows affected.

+---------------+-----------+-------+------------+-------------+--------------------+------+
| province_name | town_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------+------------+-------------+--------------------+------+
|     Amanzi    |  Abidjan  |   2   |     53     |      22     |         19         |  4   |
|    Kilimani   |   Amara   |   8   |     22     |      25     |         16         |  30  |
|     Amanzi    |   Amina   |   8   |     24     |      3      |         56         |  9   |
|    Hawassa    |   Amina   |   2   |     14     |      19     |         24         |  42  |
|     Amanzi    |   Asmara  |   3   |     49     |      24     |         20         |  4   |
|     Sokoto    |   Bahari  |   21  |     11     |      36     |         12         |  20  |
|     Amanzi    |   Bello   |   3   |     53     |      20     |         22         |  3   |
|     Sokoto    |   Cheche  |   19  |     16     |      35     |         12         |  18  |
|     Amanzi    |   Dahabu  |   3   |     37     |      55     |         1          |  4   |
|    Hawassa    |    Deka   |   3   |     16     |      23     |         21         |  38  |
+---------------+-----------+-------+------------+-------------+--------------------+------+
Truncated to displaylimit of 10.

### Creating Temporary tables

Temporary tables in SQL are a nice way to store the results of a complex query. We run the query once, and the results are stored as a table. I created a temporary table from the town.totals CTE

In [22]:
%%sql

CREATE TEMPORARY TABLE town_aggregated_water_access
WITH town_totals AS (
    SELECT
        province_name, town_name, SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name, town_name )
SELECT ct.province_name, ct.town_name,
    ROUND((SUM(CASE WHEN source_type = 'river'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN source_type = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table ct
JOIN
    town_totals tt
ON
    ct.province_name = tt.province_name
AND
    ct.town_name = tt.town_name
GROUP BY
    ct.province_name, ct.town_name
ORDER BY
    ct.town_name

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

31 rows affected.

++
||
++
++

In [23]:
%%sql

SELECT *
FROM town_aggregated_water_access

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

31 rows affected.

+---------------+-----------+-------+------------+-------------+--------------------+------+
| province_name | town_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------+------------+-------------+--------------------+------+
|     Amanzi    |  Abidjan  |   2   |     53     |      22     |         19         |  4   |
|    Kilimani   |   Amara   |   8   |     22     |      25     |         16         |  30  |
|     Amanzi    |   Amina   |   8   |     24     |      3      |         56         |  9   |
|    Hawassa    |   Amina   |   2   |     14     |      19     |         24         |  42  |
|     Amanzi    |   Asmara  |   3   |     49     |      24     |         20         |  4   |
|     Sokoto    |   Bahari  |   21  |     11     |      36     |         12         |  20  |
|     Amanzi    |   Bello   |   3   |     53     |      20     |         22         |  3   |
|     Sokoto    |   Cheche  |   19  |     16     |      35     |         12         |  18  |
|     Amanzi    |   Dahabu  |   3   |     37     |      55     |         1          |  4   |
|    Hawassa    |    Deka   |   3   |     16     |      23     |         21         |  38  |
+---------------+-----------+-------+------------+-------------+--------------------+------+
Truncated to displaylimit of 10.

##### Recommendations

1. If communities are using rivers, a team should be sent to these communities to provide a more permanent and safe water source like wells. 
2. If communities are using wells, filters should be installed to purify the water. For chemically polluted wells, Reverse osmosis (RO) filters are recommended. For wells with biological contamination, instaling both RO and UV filters are recommended.
3. According to UN standards, the maximum acceptable wait time for water is 30 minutes. With this in mind, for communities with shared-tap having above 30mins queue installing more taps are greatly recommended. Towns like Bello, Abidjan and Zuri have a lot of people using shared taps, so we should send out teams to those towns first.
4. Shared taps with short queue times (< 30 min) represent a logistical challenge to further reduce waiting times. The most effective solution, installing taps in homes, is resource-intensive and better suited as a long-term goal.
5. Addressing broken infrastructure offers a significant impact even with just a single intervention. It is expensive to fix, but so many people can benefit from repairing one facility. For example, fixing a reservoir or pipe that multiple taps are connected to. Towns like Amina, Lusaka, Zuri, Djenne and rural parts of Amanzi seem to be good places to start.

### Creating a practical plan for the recommendations suggested above

In this final leg of this project, i created a table in the database that would help the engineers in accessing neccessary informations that would enable them to be knowledgable on the locations that needs immediate attention and things to do in those locations. They will need the addresses of the places they should visit, the type of water source they should improve, and what should be done to improve it.
I also made columns for them in the database to update me on their progress. I need to know if the repair is complete, and the date it was completed.

Before creating the tables, i decided to join all the columns from the different tables that would be needed

In [25]:
%%sql

SELECT
    location.address, location.town_name, location.province_name, water_source.source_id,
    water_source.type_of_water_source, well_pollution.results, visits.time_in_queue
FROM
    water_source
LEFT JOIN
    well_pollution
ON
    water_source.source_id = well_pollution.source_id
INNER JOIN
    visits
ON
    water_source.source_id = visits.source_id
INNER JOIN
    location 
ON
    location.location_id = visits.location_id
WHERE
    visits.visit_count = 1

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

39650 rows affected.

+---------------------------+-----------+---------------+--------------+----------------------+--------------------------+---------------+
|          address          | town_name | province_name |  source_id   | type_of_water_source |         results          | time_in_queue |
+---------------------------+-----------+---------------+--------------+----------------------+--------------------------+---------------+
|  36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |           None           |       15      |
|   129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         | Contaminated: Biological |       0       |
|   18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |           None           |       62      |
|     100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         | Contaminated: Biological |       0       |
|      1 Savanna Street     |   Rural   |     Akatsi    | AkRu03357224 |      shared_tap      |           None           |       28      |
|  26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |           None           |       9       |
|    104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |           None           |       0       |
| 145 Sungura Amanpour Road |   Rural   |    Kilimani   | KiRu28520224 |     tap_in_home      |           None           |       0       |
|      117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |  Contaminated: Chemical  |       0       |
| 33 Anglique Kidjo Avenue |   Dahabu  |     Amanzi    | AmDa12214224 |     tap_in_home      |           None           |       0       |
+---------------------------+-----------+---------------+--------------+----------------------+--------------------------+---------------+
Truncated to displaylimit of 10.

Since i don't need records from well that has clean results, i filtered that out. I also filtred out shared_tap with less that 30 minutes queue time and included data for tap_in_home_broken and river. I excluded tap_in_home because these set of people do not need any infrastructural repairs.

In [33]:
%%sql

SELECT
    location.address, location.town_name, location.province_name, water_source.source_id,
    water_source.type_of_water_source, well_pollution.results, visits.time_in_queue
FROM
    water_source
LEFT JOIN
    well_pollution
ON
    water_source.source_id = well_pollution.source_id
INNER JOIN
    visits
ON
    water_source.source_id = visits.source_id
INNER JOIN
    location 
ON
    location.location_id = visits.location_id
WHERE
    visits.visit_count = 1 #This must always be true
AND 
    (results != 'Clean'
OR
    type_of_water_source IN ('tap_in_home_broken','river')
OR
    (type_of_water_source = 'shared_tap' AND time_in_queue >= 30))

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

25398 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+---------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source |         results          | time_in_queue |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+---------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |           None           |       15      |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         | Contaminated: Biological |       0       |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |           None           |       62      |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         | Contaminated: Biological |       0       |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |           None           |       9       |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |           None           |       0       |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |  Contaminated: Chemical  |       0       |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |           None           |      240      |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         | Contaminated: Biological |       0       |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |  Contaminated: Chemical  |       0       |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+---------------+
Truncated to displaylimit of 10.

In [3]:
%%sql

# Turing the above query to a temporayry table, so as to make it easiry to call.

CREATE TEMPORARY TABLE Project_progress_query WITH  Project AS (
    SELECT location.address, location.town_name, location.province_name, water_source.source_id,
        water_source.type_of_water_source, well_pollution.results, visits.time_in_queue
FROM
    water_source
LEFT JOIN
    well_pollution
ON
    water_source.source_id = well_pollution.source_id
INNER JOIN
    visits
ON
    water_source.source_id = visits.source_id
INNER JOIN
    location 
ON
    location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
AND
    (results != 'Clean'
OR
     type_of_water_source IN ('tap_in_home_broken','river')
OR
     (type_of_water_source = 'shared_tap' AND time_in_queue >= 30)))
select *
from Project;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

25398 rows affected.

++
||
++
++

Using control logic flow, i filled the Improvement Column using the following conditions;

1. Rivers  Drill wells
2. Wells: if the well is contaminated with chemicals  Install RO filter
3. Wells: if the well is contaminated with biological contaminants  Install UV and RO filter
4. Shared_taps: if the queue is longer than 30 min (30 min and above)  Install X taps nearby where X number of taps is calculated using X (= FLOOR(time_in_queue / 30))
5. Tap_in_home_broken  Diagnose local infrastructure

In [4]:
%%sql

# Using a CTE to create a temporary table, so that it will be easy to call the query
CREATE TEMPORARY TABLE Final_Query WITH Project_query AS ( 
    SELECT source_id, address, town_name, province_name, type_of_water_source, results, time_in_queue,
IF(results = 'Contaminated: Biological', 'Install UV filter',
IF(results = 'Contaminated: Chemical', 'Install RO filter',
IF(type_of_water_source = 'river', 'Drill well',
CASE
    WHEN type_of_water_source = 'shared_tap' AND time_in_queue > 30 THEN CONCAT('Install ', FLOOR(time_in_queue / 30), ' taps nearby')
    WHEN type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
ELSE NULL
END))) AS Improvement
FROM Project_progress_query)
select *
from Project_query;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

25398 rows affected.

++
||
++
++

#### Creating a table in the database

In [8]:
%%sql

CREATE TABLE Project_progress (
Project_id SERIAL PRIMARY KEY,
source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
Address VARCHAR(50),
Town VARCHAR(30),
Province VARCHAR(30),
Source_type VARCHAR(50),
Improvement VARCHAR(50),
Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
Date_of_completion DATE,
Comments TEXT
);

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

++
||
++
++

#### Inserting into the table

In [13]:
%%sql

# Populating the Project_progress table with the results from the Final_Query temporary table 
INSERT INTO
    Project_progress (source_id, Address, Town, Province, Source_type, Improvement)
SELECT
    source_id, address, town_name,province_name, type_of_water_source, Improvement
FROM Final_Query;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

25398 rows affected.

++
||
++
++

In [14]:
%%sql

SELECT *
FROM Project_progress

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services_new'

25398 rows affected.

+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
| Project_id |  source_id   |         Address          |   Town   | Province |    Source_type     |          Improvement          | Source_status | Date_of_completion | Comments |
+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
|     1      | SoIl32582224 | 36 Pwani Mchangani Road  |  Ilanga  |  Sokoto  |       river        |           Drill well          |    Backlog    |        None        |   None   |
|     2      | KiRu28935224 |  129 Ziwa La Kioo Road   |  Rural   | Kilimani |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     3      | HaRu19752224 |  18 Mlima Tazama Avenue  |  Rural   | Hawassa  |     shared_tap     |     Install 2 taps nearby     |    Backlog    |        None        |   None   |
|     4      | AkLu01628224 |    100 Mogadishu Road    |  Lusaka  |  Akatsi  |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     5      | KiRu29315224 | 26 Bahari Ya Faraja Road |  Rural   | Kilimani |       river        |           Drill well          |    Backlog    |        None        |   None   |
|     6      | AkRu05234224 |   104 Kenyatta Street    |  Rural   |  Akatsi  | tap_in_home_broken | Diagnose local infrastructure |    Backlog    |        None        |   None   |
|     7      | HaZa21742224 |     117 Kampala Road     | Zanzibar | Hawassa  |        well        |       Install RO filter       |    Backlog    |        None        |   None   |
|     8      | SoRu35008224 |      55 Fennec Way       |  Rural   |  Sokoto  |     shared_tap     |     Install 8 taps nearby     |    Backlog    |        None        |   None   |
|     9      | SoRu35703224 |     52 Moroni Avenue     |  Rural   |  Sokoto  |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     10     | AkHa00070224 |   51 Addis Ababa Road    |  Harare  |  Akatsi  |        well        |       Install RO filter       |    Backlog    |        None        |   None   |
+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
Truncated to displaylimit of 10.

#### Finally, not only have i figured out locations that needs to have a safe type of water source, i have also recommended solutions. Infact,  i went the extra mile to create a plan that helps in implementing the recommendated solutions.